nodeMCU_DHT22_tdc_16-05-2018/SensorWEB_TDC.json
[{"id":"32b433d4.49738c","type":"tab","label":"arduino_sensor_som","disabled":true,"info":""},{"id":"a56bed42.883ec","type":"tab","label":"sensor_distancia","disabled":true,"info":""},{"id":"3c313136.dd005e","type":"tab","label":"humidade_temperatura","disabled":true,"info":""},{"id":"faca2d9f.14469","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6ac18474.154acc","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0","bin":"bin","out":"time","addchar":false},{"id":"e292394a.7ee828","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"27f63098.fd7bc","type":"mui_tab","z":"","name":"Raspberry Dashboards","icon":"dashboard"},{"id":"2f2d76dc.37e21a","type":"mui_group","z":"","name":"Histórico","tab":"27f63098.fd7bc","disp":true,"width":"6","collapse":false},{"id":"d1233860.181898","type":"twitter-credentials","z":"","screen_name":""},{"id":"2ddc8607.7411ba","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"10951712.ea44d9","type":"ui_group","z":"","name":"Current line","tab":"69cc8d52.41bd34","disp":true,"width":"6","collapse":false},{"id":"76527549.6b209c","type":"ui_group","z":"","name":"grafico","tab":"980174c8.b6bde8","disp":true,"width":"6","collapse":false},{"id":"e34c82b5.906a6","type":"ui_group","z":"","name":"Current Gauge","tab":"69cc8d52.41bd34","disp":true,"width":"6","collapse":false},{"id":"69cc8d52.41bd34","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"e10195da.436568","type":"wiotp-credentials","z":"","name":"raspberry","org":" yh9d4z","serverName":"yh9d4z.messaging.internetofthings.ibmcloud.com","devType":"raspberry","devId":"raspiot","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"7a8a5ff5.5ddf5","type":"wiotp-credentials","z":"","name":"IOT","org":"yh9d4z","serverName":"","devType":"dth22","devId":"raspberry","keepalive":"60","cleansession":false,"tls":"","usetls":false},{"id":"1a9ccee1.f850c1","type":"mqtt-broker","z":"","name":"MQTT Listener","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"980174c8.b6bde8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"a9772d7e.a5eec","type":"json","z":"32b433d4.49738c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":220,"wires":[["5594ccba.e7cfe4"]]},{"id":"9c9806c3.8b0528","type":"serial in","z":"32b433d4.49738c","name":"Arduino","serial":"6ac18474.154acc","x":255.5,"y":114,"wires":[["a9772d7e.a5eec"]]},{"id":"5594ccba.e7cfe4","type":"debug","z":"32b433d4.49738c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":627.5,"y":125,"wires":[]},{"id":"60c15396.47a43c","type":"http in","z":"3c313136.dd005e","name":"payload","url":"/payload","method":"post","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["15c914d1.de1efb","91f245c5.1736e8","b4d5847d.f43608"]]},{"id":"15c914d1.de1efb","type":"file","z":"3c313136.dd005e","name":"stream","filename":"/home/pi/Documents/stream.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":380,"y":180,"wires":[]},{"id":"91f245c5.1736e8","type":"http response","z":"3c313136.dd005e","name":"http op","statusCode":"200","headers":{},"x":380,"y":260,"wires":[]},{"id":"b4d5847d.f43608","type":"json","z":"3c313136.dd005e","name":"","property":"payload","action":"","pretty":false,"x":350,"y":340,"wires":[["c72401db.2436c","b192f64d.e936b8"]]},{"id":"c72401db.2436c","type":"function","z":"3c313136.dd005e","name":"split data","func":"var msgTemp_DHT11 = {payload: msg.payload.temperature};\nvar msgHumid_DHT11 = {payload: msg.payload.humidity};\n\nreturn [msgTemp_DHT11, msgHumid_DHT11];","outputs":2,"noerr":0,"x":540,"y":340,"wires":[["748bcf5c.90b6c","f28a898c.0a1808"],["c103ba31.b98728","66a1b6d.26c6b48"]]},{"id":"8f7b983b.5cb3a8","type":"inject","z":"a56bed42.883ec","name":"Sensor","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":220,"wires":[["dc74b1cb.de5c1"]]},{"id":"dc74b1cb.de5c1","type":"exec","z":"a56bed42.883ec","command":"sudo python3 /home/pi/Documents/Python/Raspberry-pi-sensor-distância_18-04-2018/sensor-distancia.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Ultrasonic","x":460,"y":200,"wires":[["3a291428.15ba5c"],["3a291428.15ba5c"],[]]},{"id":"3a291428.15ba5c","type":"debug","z":"a56bed42.883ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":200,"wires":[]},{"id":"f28a898c.0a1808","type":"ui_chart","z":"3c313136.dd005e","name":"Temperatura","group":"10951712.ea44d9","order":0,"width":"","height":"","label":"Temperatura","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":730,"y":320,"wires":[[],[]]},{"id":"66a1b6d.26c6b48","type":"ui_chart","z":"3c313136.dd005e","name":"Humidade","group":"10951712.ea44d9","order":0,"width":"","height":"","label":"Humidade","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":730,"y":440,"wires":[[],[]]},{"id":"748bcf5c.90b6c","type":"ui_gauge","z":"3c313136.dd005e","name":"Temperatura","group":"e34c82b5.906a6","order":0,"width":"","height":"","gtype":"gage","title":"Temperatura","label":"graus","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":260,"wires":[]},{"id":"c103ba31.b98728","type":"ui_gauge","z":"3c313136.dd005e","name":"Humidade","group":"e34c82b5.906a6","order":0,"width":"","height":"","gtype":"gage","title":"Humidade","label":"graus","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":380,"wires":[]},{"id":"b192f64d.e936b8","type":"wiotp out","z":"3c313136.dd005e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"e10195da.436568","deviceType":"","deviceId":"","event":"event","format":"json","qos":"0","name":"Watson IOT","x":670,"y":500,"wires":[]},{"id":"8300e112.d22dd","type":"mqtt in","z":"faca2d9f.14469","name":"MQTT Listener","topic":"smartcity/tdc2","qos":"2","broker":"1a9ccee1.f850c1","x":350,"y":160,"wires":[["79692e10.6913","33bd5459.77414c"]]},{"id":"79692e10.6913","type":"json","z":"faca2d9f.14469","name":"","property":"payload","action":"","pretty":false,"x":540,"y":220,"wires":[["853d29c6.b9f4c8"]]},{"id":"853d29c6.b9f4c8","type":"function","z":"faca2d9f.14469","name":"split data","func":"\nreturn msg;","outputs":2,"noerr":0,"x":720,"y":220,"wires":[["94484ffc.ec8f6","454b23d.14a00dc"],["675b6e0c.93c3e","ee232d6b.b8e83"]]},{"id":"675b6e0c.93c3e","type":"ui_gauge","z":"faca2d9f.14469","name":"Umidade","group":"76527549.6b209c","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":220,"wires":[]},{"id":"94484ffc.ec8f6","type":"ui_gauge","z":"faca2d9f.14469","name":"Temperatura","group":"76527549.6b209c","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":120,"wires":[]},{"id":"ee232d6b.b8e83","type":"ui_chart","z":"faca2d9f.14469","name":"Umidade (5 minutos)","group":"76527549.6b209c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":960,"y":280,"wires":[[],[]]},{"id":"454b23d.14a00dc","type":"ui_chart","z":"faca2d9f.14469","name":"Temperatura (5 minutos)","group":"76527549.6b209c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":970,"y":160,"wires":[[],[]]},{"id":"33bd5459.77414c","type":"debug","z":"faca2d9f.14469","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":320,"wires":[]}]